@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-family: 'Poppins', sans-serif;
}
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
}

.main{
	font-family: 'Poppins', sans-serif;
}

.sidebar-active {
  background-color: #6ac2bf;
  color: black !important;
}

.cal__main {
	
}

.cal__main h1 {
	font-size: 3rem;
	/* color: rgba(255, 255, 255, 0.491); */
	color: #000;

	text-align: center;
	text-transform: uppercase;
}

.cal__main p {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.491);
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

/* .cal__container {
	width: 700px;
	height: 470px;
} */

.calendar__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background: rgba(44, 189, 155, 0.893);
	backdrop-filter: blur(150px);
	border-radius: 20px 20px 0 0;
}

.calendar__top .arrow {
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #000000 ;
}

.calendar__top .arrow:hover {
	background-color: rgba(255, 255, 255, 0.102);
	border-radius: 50%;
}

.calendar__top .calendar__day {
	position: absolute;
	left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-right: 15rem;
	overflow: hidden;
}

.calendar__top .calendar__time {
	position: absolute;
	right: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	height: 100%;
	color: white;
}

.calendar__top .calendar__time .cal__time {
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #000000;
}

.calendar__top .cal__month {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #000000;
}

.calendar__top .cal__date {
	font-size: 1rem;
	color: #000000;
}

.calendar__bottom {
	padding: 1rem;
	height: 50px;
	/* background-color: rgba(255, 255, 255, 0.077);
	backdrop-filter: blur(200px); */
	background: rgba(151, 222, 206);
	backdrop-filter: blur(50px);
	width: 100%;
	height: 100%;
	border-radius: 0 0 20px 20px;
}
.calendar__bottom .cal__weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	place-items: center;
}

.calendar__bottom .cal__weekdays span {
	padding: 1rem;
	font-size: 1.5rem;
	color: rgb(199, 199, 199);
}

.weekdays {
	display: flex;
  }
  
  .date1 {
	flex: 1;
	text-align: center;
  }
  


.calendar__bottom .cal__days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
     grid-template-columns: repeat(7, calc(14.28% - 1px)); 
    /* Adjust the percentage and pixel values as needed */
	place-items: center;
	/* color: white; */
	color: #000000;
}

.calendar__bottom .cal__days span {
	padding: 1rem;
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: all 200ms;
   
}

.calendar__bottom .cal__days span:hover {
	background-color: rgba(240, 248, 255, 0.573);
}

.calendar__bottom .cal__days .today {
	background: rgb(3, 157, 67);
}

.calendar__bottom .cal__days .redmark {
	background: rgba(239, 58, 76, 0.908);
}

/* Show task */
div#popup_box{
	z-index: 1000; 
	
	position: absolute; 
	top: 50%; left: 50%; 
	margin-top: -15%; 
	margin-left: -10%; 

	background: white;

	border-radius: 20px;
	display: none;
	border: 2px solid #000;
}

@media only screen and (max-width: 768px) {
	div#popup_box{
		z-index: 1000; 
		
		position: absolute; 
		top: 50%; left: 50%; 
		margin-top: -30%; 
		margin-left: -15%; 
	
		background: white;
	
		border-radius: 20px;
		display: none;
		border: 2px solid #000;
	}
}

div#popup_box div#show_form_container{
	background-color: white;
	
	border-radius: 15px;
	border: 0;

	display: none;
}

div#popup_box div#show_form_container form#show_form{
	font-size: 100%;
	line-height: 1.5;
	
	color: #495057;
	background-color: #fff;
}

div#popup_box div#show_form_container form#show_form label{
	font-size: 100%;
	line-height: 2.0;
	
	color: #000;
	background-color: #fff;
	font-weight: bolder;
}

.form-buttons .close_btn {
	color: #fff;
	background-color: #0d67ee;

	display: block;
	
	padding: 10% 0;
	margin: 10px auto;
	
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;

	user-select: none;

	border-radius: 20px;
	border: 2px solid #0d67ee;
  }


@media only screen and (max-width: 768px) {
	.cal__container {
		width: 90%;
		height: auto;
        margin-left: 2%;
	}
	
	.calendar__top .calendar__day {
		padding-right: 2rem;
	}
	
	.calendar__top .calendar__time {
		right: auto;
		left: 100px;
	}
	
	.calendar__top .calendar__time .cal__time {
		font-size: 1.0rem;
        /*11.00a.m.*/
	}
	
	.calendar__top .cal__month {
		font-size: 1.1rem;
        margin-bottom: 10%;
	}
	
	.calendar__top .cal__date {
		font-size: 0.8rem;
	}
	
	.calendar__bottom .cal__weekdays span {
		font-size: 1.2rem;
	}
	
	.calendar__bottom .cal__days span {
		padding: 0.8rem;
		font-size: 1rem;
	}
}

@media only screen and (min-width: 769px) {
	.cal__container {
		width: 700px;
		height: 470px;
	}
	
	.calendar__top .calendar__day {
		padding-right: 15rem;
	}
	
	.calendar__top .calendar__time {
		right: 100px;
		left: auto;
	}
	
	.calendar__top .calendar__time .cal__time {
		font-size: 1.7rem;
	}
	
	.calendar__top .cal__month {
		font-size: 1.8rem;
	}
	
	.calendar__top .cal__date {
		font-size: 1rem;
	}
	
	.calendar__bottom .cal__weekdays span {
		font-size: 1.5rem;
	}
	
	.calendar__bottom .cal__days span {
		padding: 1rem;
		font-size: 1.2rem;
	}
}


/* Media Queries for Responsive Layout */

@media only screen and (max-width: 768px) {
	.cal__container {
		width: 90%;
		height: auto;
	}

	/* Additional styles for smaller screens */
}

@media only screen and (min-width: 769px) {
	.cal__container {
		width: 700px;
		height: 470px;
	}

	/* Additional styles for larger screens */
}