<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TickTockTasks</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins:wght@300;400;500;600&display=swap');

    :root{
        /* font-family */
        --body-text-family: 'Poppins', sans-serif;
        /* color palette */
        --dark-green: #439A97;
        --medium-green: #62B6B7;
        --light-green: #97DECE;
        --light-secondary-green: #CBEDD5;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        text-align: center;
    }

    .lottie-background{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    .sign-up{
        min-height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        background-color: whitesmoke;
        box-shadow: 0 0 5px gray;
        border-radius: 1.5rem;
    }

    .content label{
        margin-top: 25px;
    }

    @media(max-width: 500px){
        .content{
            padding: 1.5rem;
        }
    }

    .lottie{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    hr{
        color: black;
    }

    /* sign in page */
    .sign-in{
        min-height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sign-up-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #signin{
        margin-top: 25px;
        background-color: #439A97;
        color: white;
        transition: all 0.5s ease;
    }

    #signin:hover{
        background-color: var(--light-secondary-green);
        color: black;
        width: 150px;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        background-color: whitesmoke;
        box-shadow: 0 0 5px gray;
        border-radius: 1.5rem;
    }

    .content label{
        margin-top: 25px;
    }

    /* sign in sign up */
    .email-error{
        color: red;
    }

    .phone-num-error{
        color: red;
    }

    .password-error{
        color: red;
    }

    /* sign up */
    #sign-up-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sign-up-form .user-input{
        border-radius: 15px;
        border: 1px solid gray;
        padding: 0.5rem;
        margin-top: 1.5rem;
    }

    .sign-up-button{
        border: 1px;
        border-radius: 1.5rem;
        margin-top: 1.5rem;
        width: 80%;
        padding: 0.5rem;
        background-color: var(--dark-green);
        color: white;
        transition: all 0.5s;
    }

    .sign-up-button:hover{
        background-color: var(--light-green);
        color: black;
        width: 100%;
    }

    #signup{
        margin-top: 25px;
        color: white;
        background-color: #439A97;
        transition: all 0.5s ease;
        border: 0;
    }

    #signup:hover{
        width: 150px;
    }

    .sign-up-button{
        border: 1px;
        border-radius: 1.5rem;
        margin-top: 1.5rem;
        width: 80%;
        padding: 0.5rem;
        background-color: var(--dark-green);
        color: white;
        transition: all 0.5s;
    }

    .sign-up-button:hover{
        background-color: var(--light-green);
        color: black;
        width: 100%;
    }

    @media(max-width: 500px){
        .content{
            padding: 1.5rem;
        }
    }

    .lottie{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .small-text a{
        color: var(--dark-green);
    }

    .small-text a:hover{
        color: black;
    }

    /* sign-in */
    #reset-pass-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sign-in-button{
        border: 1px;
        border-radius: 1.5rem;
        margin-top: 1.5rem;
        width: 80%;
        padding: 0.5rem;
        background-color: var(--dark-green);
        color: white;
        transition: all 0.5s;
    }

    .sign-in-button:hover{
        background-color: var(--light-green);
        color: black;
        width: 100%;
    }


    .sign-in .user-input{
        border-radius: 15px;
        border: 1px solid gray;
        padding: 0.5rem;
        margin-top: 1.5rem;
    }


    #forgot-password{
        text-decoration: none;
        color: var(--dark-green);
        font-size: 0.8rem;
    }

    #forgot-password:hover{
        color: black;
    }

    .hidden{
        display: none;
    }
    </style>
</head>
<body>
    <div class="lottie-background">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_bq485nmk.json" mode="bounce" background="transparent"  speed="1.5"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
    </div>
    <div class="sign-in">
        <div class="content">
            <h1 class="title">TickTockTasks</h1>
            <div class="hidden"><%= email %></div>
            <p>Please enter your new password</p>
            <form action="" id="reset-pass-form">
                <input type="password" class="user-input" name="password1" id="password" placeholder="Enter a new password">
                <input type="password" class="user-input" name="password2" id="password2" placeholder="Re-enter the password">
                <div class="password-error"></div>
                <button class="sign-in-button" type="submit" value="reset password">Reset my password</button>
            </form>
            <hr>
            <a href="/login">Login now</a>
        </div>
    </div>

    <div class="footer">
        Copyright @ToDoList 2023 | Privacy Policy
    </div>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_x4nau02e.json" class="lottie" background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
    <!-- JavaScript -->
    <script>
        const password_error = document.querySelector('.password-error'); 
        const reset_password_form = document.querySelector('#reset-pass-form');
        const email = document.querySelector('.hidden').textContent;
        reset_password_form.addEventListener('submit',  async(e)=>{
        e.preventDefault();
        // reset errors
        password_error.textContent = '';
        // get value (form.email(input(name))=>value)
        const password1 = reset_password_form.password1.value;
        const password2 = reset_password_form.password2.value;
        try{
            // fetch() make asynchrounous requests to server
            // load information that is returned by server onto web pages
            // it return a promise
            const resolve = await fetch('/reset-password/:id/:token',{
                method: 'POST',
                body: JSON.stringify({password1,password2,email}),
                headers: {'Content-Type':'application/json'}
            });
            const data = await resolve.json();
            if(data.status){
                document.querySelector('#password').style.display = "none"
                document.querySelector('#password2').style.display = "none"
                password_error.innerHTML = "Password has been reset!"
                document.querySelector('.sign-in-button').style.display = "none"
            }
            if(data.error){
                password_error.textContent = "Failed to change"
            }
        }
        catch(err){
            console.log(err);
        }});
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
</body>
</html>