*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #9FE1E1;
}

div#Content{
    /* Structure */
    width: 500px;
    height: 700px;
    background-color: #fff;
    border-radius: 15px;

    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -350px;
}

div#Content h2{
    /* text */
    font-family: 'Poppins';
    text-align: center;
    font-size: 32px;

    /* Position */
    margin: 10px auto;
}

div#Content h2.Password{
    /* Position */
    margin-left: 20px;

    /* text */
    font-family: 'Poppins';
    text-align: left;
}

div#Content input{
    width: 460px;
    height: 50px;
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* Position */
    display: block;
    margin: 20px auto;

    /* text */
    font-family: 'Poppins';
    text-indent: 15px;
    line-height: 50px;
}

div#Content div#NamePart{
    width: 100%;
    height: 70px;

    margin: 0px;
}

div#Content div#NamePart input{
    width: 220px;
    
    /* Position */
    display: inline;
    margin: 20px 0 0 19px;
}

div#Content input.btn{
    width: 150px;
    height: 50px;
    background-color: #439A97;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    text-indent: 0;
    color: #fff;

    /* Position */
    margin-top: 30px;
}

div#content{
    /* Structure */
    width: 600px;
    height: 350px;
    background-color: #293241;
    border-radius: 15px;

    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}

#content div span{
    display: inline-block;
    width: 150px;
    height: 50px;

    /* text */
    color: #fff;
    line-height: 50px;
    font-family: 'Poppins';
    text-align: center;
    
}

#content input{
    width:400px;
    height: 50px;
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* Position */
    
    margin: 20px 0px;

    /* text */
    font-family: 'Poppins';
    text-indent: 15px;
    line-height: 50px;
}

#content div#email{
    margin-top: 20px;
}

#content input.btn{
    width: 150px;
    height: 50px;
    background-color: #439A97;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    color: #fff;

    /* Position */
    margin: 30px 225px 0;
}

#content h4{
    /* text */
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    text-decoration: underline;
    font-family: 'Poppins';

    /* Position */
    margin: 20px 0 0 40px;
}

div#BottomPart {
    /* Structure */
    width: 600px;
    height: 200px;
    border-radius: 15px;

    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: 150px;
}

div#BottomPart h2{
    /* text */
    font-size: 24px;
    font-family: 'Poppins';
}

div#BottomPart input{
    width: 150px;
    height: 50px;
    background-color: #439A97;

    /* border */
    border: 0;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    font-size: px;
    color: #fff;

    /* Position */
    margin: 20px 0;
}

div#feedbackcontent{
    /* Structure */
    width: 600px;
    height: 900px;
    background-color: #fff;
    border-radius: 15px;

    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -450px;
}

div#feedbackcontent h2{
    display: inline-block;
    width: 600px;
    height: 100px;

    /* text */
    color: #000;
    line-height: 100px;
    font-size: 32px;
    font-family: 'Poppins';
    text-align: center;
    
}

div#feedbackcontent input{
    width:500px;
    height: 75px;
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* Position */
    display: block;
    margin: 20px auto;

    /* text */
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bolder;
    text-indent: 15px;
    line-height: 75px;
}

div#feedbackcontent textarea.feedbackmessage{
    width:500px;
    height: 200px;
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* Position */
    display: block;
    margin: 20px auto;

    /* text */
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bolder;
    text-indent: 15px;
    line-height: 75px;
}

div#feedbackcontent input.btn{
    width: 150px;
    height: 50px;
    background-color: #439A97;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    color: #fff;

    /* Position */
    margin: 30px 225px 0;
}

div#feedbackcontent h4{
    width: 600px;
    height: 50px;

    /* text */
    color: #000;
    line-height: 50px;
    font-size: 32px;
    font-family: 'Poppins';
    text-align: left;

    /* Position */
    margin: 10px 0 0 50px;
}

div#feedbackcontent input.btn{
    width: 150px;
    height: 50px;
    background-color: #439A97;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    line-height: 50px;
    color: #fff;

    /* Position */
    margin: 40px 225px 0;
}

div#feedbackcontent div.file{
    width:500px;
    height: 200px;
    background-color: #F0F0F0;

    /* border */
    border: 2px dashed #555;
    border-radius: 15px;

    /* Position */
    display: block;
    margin: 0px auto;
}

div#feedbackcontent div.file input{
    width: 100px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 5px 5px #555;

    /* text */
    font-family: 'Poppins';
    font-weight: border;
    text-align: center;
    text-indent: 0;
    line-height: 50px;
    color: #000;

    /* Position */
    margin-top: 40px;
}

div#feedbackcontent div.file span{
    width: 500px;
    height: 50px;
    display: inline-block;

    /* text */
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: border;
    text-align: center;
    text-indent: 0;
    line-height: 50px;
    color: #555;
}