/* Register */
*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #9FE1E1;
}

div#Content{
    /* Structure */
    background-color: #fff;
    border-radius: 15px;
}

div#Content h2{
    /* text */
    font-family: 'Poppins';
    text-align: center;
    font-size: 3vw;
    line-height: 3vw;
}

div#Content h6{
    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    line-height: 2vw;
    font-size: 2vw;
}

div#Content .twoRow h6{
    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    line-height: 2vw;
    font-size: 2vw;
}


div#Content input{
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    text-indent: 1vw;
    line-height: 3vw;
    font-size: 2vw;
}

div#Content h4.Password{
    /* text */
    font-family: 'Poppins';
    text-align: left;
    font-size: 3vw;
    line-height: 3vw;
    text-indent: 1vw;
}


div#Content input.btn{
    background-color: #439A97;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    line-height: 3vw;
    text-indent: 0;
    color: #fff;
    font-size: 2vw;
} 

/* ------------------------------------------------------------------------ */

/* Login */
*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #9FE1E1;
}

div.container h2{
    /* text */
    font-family: 'Poppins';
    text-align: left;
    font-size: 5vw;
    line-height: 5vw;
}

div#content{
    /* Structure */
    background-color: #293241;
    border-radius: 15px;
}

#content div h6 {
    /* text */
    color: #fff;
    line-height: 3vw;
    font-family: 'Poppins';
    text-align: center;
    font-size: 3vw;
}

#content input{
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    text-indent: 2vw;
    line-height: 2vw;
    font-size: 2vw;
}

#content input.btn{
    background-color: #439A97;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    color: #fff;
    text-indent: 0;
    line-height: 3vw;
    font-size: 2vw;
}

#content p{
    /* text */
    font-size: 2vw;
}

#content p a{
    /* text */
    color: #fff;
    font-weight: 100;
    font-family: 'Poppins';
    line-height: 2vw;
    font-size: 2vw;
}

div#BottomPart h2{
    /* text */
    font-family: 'Poppins';
    line-height: 2vw;
    font-size: 2vw;
}

div#BottomPart input{
    background-color: #439A97;

    /* border */
    border: 0;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    color: #fff;
    line-height: 3vw;
    font-size: 2vw;
}

/* ------------------------------------------------------------------------ */

/* feedback */
*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #9FE1E1;
}

div#feedbackcontent{
    /* Structure */
    background-color: #fff;
    border-radius: 15px;
}

div#feedbackcontent h2{
    /* text */
    text-align: center;
    font-family: 'Poppins';
    font-size: 5vw;
    line-height: 5vw;
}

div#feedbackcontent h6{
    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    line-height: 2vw;
    font-size: 2vw;
}

div#feedbackcontent input{
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    text-indent: 2vw;
    line-height: 3vw;
    font-size: 2vw;
}

div#feedbackcontent textarea.feedbackmessage{
    background-color: #F0F0F0;

    /* border */
    border: 0px;
    border-radius: 15px;

    /* text */
    font-family: 'Poppins';
    font-weight: bolder;
    text-indent: 1vw;
    line-height: 3vw;
    font-size: 2vw;
}

textarea {
    padding: 1vw;
}

div#feedbackcontent h4{
    /* text */
    color: #000;
    line-height: 3vw;
    font-family: 'Poppins';
    text-align: left;
    font-size: 3vw;
}

div#feedbackcontent div.file{
    background-color: #F0F0F0;

    /* border */
    border: 2px dashed #555;
    border-radius: 15px;
}

div#feedbackcontent div.file input{
    background-color: #fff;
    box-shadow: 0vw 1vw 1vw #555;

    /* text */
    font-family: 'Poppins';
    font-weight: border;
    text-align: center;
    text-indent: 0;
    line-height: 4vw;
    color: #555;
    font-size: 2vw;
}

div#feedbackcontent div.file h6{
    /* text */
    font-family: 'Poppins';
    font-weight: border;
    text-align: center;
    text-indent: 0;
    line-height: 3vw;
    color: #555;
    font-size: 1vw;
}

div#feedbackcontent input.btn{
    background-color: #439A97;

    /* text */
    font-family: 'Poppins';
    text-align: center;
    text-indent: 0;
    color: #fff;
    line-height: 3vw;
    font-size: 2vw;
}